.container{
    margin-bottom: 20px;
}
.carousel-bg{
    background-color: #FEEAE9;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
border: none;
border-radius: 8px;
padding: 9px 25px;
cursor: pointer;
color: white;
    
}
.price{
    color:#F22784; ;
}
.carousel{
    border-radius: 8px;
}
.navbar{
    border-radius: 8px;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 8px;
}
.cat1{

    background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgb(247, 182, 3) 100%);
}
.cat2{
    background: rgba(203,96,179,1);
    background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgb(253, 1, 198) 100%);
}
.cat3{
    background: rgba(73,155,234,1);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgb(0, 126, 245) 100%);
}
.catagories h1{
    color: white;
}
..catagories img{
    width: 100px;
}